/* Gaya untuk latar belakang dan teks */
body {
  background-color: #FBF9E5;
  color: #333;
  font-family: Arial, sans-serif;
}

/* Gaya untuk navbar */
.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #FBF9E5;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar .navbar-brand {
  flex-grow: 1;
}

.navbar .navbar-collapse {
  justify-content: center;
}

.navbar .navbar-nav {
  display: flex;
  justify-content: center;
}

.navbar .nav-item {
  margin: 0 10px;
}

.navbar .nav-link {
  color: #6c757d;
  transition: color 0.3s;
}

.navbar .nav-link:hover {
  color: #495057;
}

/* Gaya untuk header banner */
.banner {
  position: relative;
  background-image: linear-gradient(rgba(0,0,0,0.05),rgba(0,0,0,0.0)), url('img/banner.gif');
  background-size: cover;
  background-position: center;
  width: 100%;
  padding-top: 33.33%; /* 3:1 aspect ratio (100% / 3 = 33.33%) */
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.banner-text {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.banner-text h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: black;
}

.banner-text p {
  font-size: 1.2rem;
  margin-bottom: 30px;
  color: black;
}

.banner-text a.btn {
  font-size: 1.5rem;
  padding: 10px 30px;
}

/* Gaya untuk tombol di header banner */
.banner .btn-primary {
  background-color: green;
  border-color: #FBF9E5;
}

.banner .btn-primary:hover {
  background-color: #23307a;
  border-color: #e68900;
}

/* Gaya untuk card produk */
.card {
  background-color: #fffef6;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

.card-title {
  font-size: 1.25rem;
  margin-bottom: 0.75rem;
}

.card-text {
  margin-bottom: 1.25rem;
}

.card-img-top {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.btn-primary {
  background-color: #3f51b5;
  border-color: #3f51b5;
}

.btn-primary:hover {
  background-color: green;
  border-color: #303f9f;
}

/* Gaya untuk footer */
footer {
  background-color: #FBF9E5;
  border-top: 1px solid #e0e0e0;
  color: #333;
}

.footer-landingpage {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.contact-info a {
  color: #333;
  text-decoration: none;
  margin-right: 10px;
}

.about-section {
  background-image: url('img/about.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 80px 0;
  color: black;
  opacity: 0.9;
}

.about-section h2 {
  color: black;
}

.copyright {
  color: black;
}

/* Responsiveness */
@media (max-width: 768px) {
  .navbar .navbar-collapse {
    justify-content: flex-start;
  }

  .banner {
    height: 300px;
  }

  .banner-text h1 {
    font-size: 2rem;
  }

  .banner-text p {
    font-size: 1rem;
  }

  .card-img-top {
    height: 150px;
  }

  .about-section {
    padding: 40px 0;
  }

  .footer-landingpage {
    flex-direction: column;
  }
}
